<% @main_heading = "Secrets" %>

<% content_for :head do %>
    <title><%= @main_heading %></title>
<% end %>

<h1><%= @main_heading %></h1>

<% @secrets.reverse_each do |s| %>
    <p>
        <%= s.content %>

        <form action="/likes" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <input type="hidden" name="like[user_id]" value="<%= session[:user_id] %>" />
          <input type="hidden" name="like[secret_id]" value="<%= s.id %>" />
          <input type="submit" value="Like" />
        </form><br />

        <% if s.user_id === session[:user_id] %>
            <form action="/secrets/<%= s.id %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
              <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Delete Secret" />
            </form>
        <% end %>


    </p>
<% end %>

<p><a href="/users/<%= session[:user_id] %>">View Profile for Signed In User</a></p>

<form action="/sessions/<%= session[:user_id] %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="_method" value="delete" />
  <p>
    <input type="submit" value="Sign Out" />
  </p>
</form>