<h1>Edit <%= @user.name %> Profile</h1>

<form id="login-new-form" action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="_method" value="patch" />
  <p>
    <label for="name">Name:</label>
    <input type="text" name="user[name]" value="<%= @user.name %>" />
  </p>
  <p>
    <label for="name">Email:</label>
    <input type="text" name="user[email]" value="<%= @user.email %>" />
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<form action="/sessions/<%= @user.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="_method" value="delete" />
  <p>
    <input type="submit" value="Sign Out" />
  </p>
</form>
