<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongoose Package Test Form</title>
</head>
<body>

<h1>Mongoose Package Test Form</h1>

<form action="users" method="post">
    <p>Name: <input type="text" name="name"/></p>
    <p>Age: <input type="number" name="age"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

<h2><em>users</em> Collection Documents Displayed Using a For In Loop</h2>

<% for(var user in users) { %>
    <ul>
        <li>Name: <%= users[user].name %><br />
            Age: <%= users[user].age %></li>
    </ul>
<% } %>

<h2><em>users</em> Collection Documents Displayed Using For Loop and Decrementing from Last Element to the First</h2>
<% for(var i = users.length - 1; i >= 0; i--) { %>
    <ul>
        <li>Name: <%= users[i].name; %><br />
        Age: <%= users[i].age %></li>
    </ul>
<% } %>

<h2><em>users</em> Collection Documents Displayed Using For Loop and Incrementing from First Element to the Last</h2>
<% for(var i = 0; i < users.length; i++) { %>
<ul>
    <li>Name: <%= users[i].name; %><br />
        Age: <%= users[i].age %></li>
</ul>
<% } %>

</body>
</html>